@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 150%;
    letter-spacing: 0%;
}

body {
    font-family: "Inter", Courier, monospace;
    display: flex;
    justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: #141414;
}

.container {
    border: solid 1px purple;
    background-color: #1F1F1F;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 384px;
    min-height:611px;
    padding: 40px;
    gap: 24px;
    border-radius: 12px;
}

.profile-pic img {
    border-radius:  50%;
}

.name {
    color: white;
    font-size: 24px;
    font-weight:600;
    
}

.address {
color: #582688;
font-size: 14px;
font-weight: 900;
text-align: center;
}


.description {
    font-size: 14px;
    color: white;
}

.social-links {
display: flex;
flex-direction: column;
gap: 16px;

}

.social-links > .links {
    color: white;
    background-color: rgb(51, 51, 51, 0.5);
    font-size: 14px;
    font-weight: 700;
    min-width: 304px;
    min-height: 45px;
    padding: 12px;
    border-radius: 8px;
    border: none;
    text-align: center;
}

.links:hover {
    cursor: pointer;
    background-color: #582688;
}

.social-links{
   list-style: none;
}

.links > a {
    text-decoration: none;
    color: white;
}